$main-font-fam: "Montserrat", "Arial", sans-serif; 
$descr-font-fam: "Lato", "Arial", sans-serif;
$accent-color: #8D81AC; //светло фиолетовый
$light-text-color: #fff;
$dark-text-color: #323232;
$mid-text-color: #848E97;